/* Base Merchant SCSS */
@import url(//fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import "../shared/reset";
@import "../vendor/bootstrap/3.1.1/bootstrap";
@import "../shared/qualpay";
@import "../vendor/font-awesome/4.5.0/font-awesome.min";
@import "../vendor/angular-loading-bar/0.8.0/loading-bar.scss";

@import "../hosted/hosted.scss";
@import "qp-embedded";


#main-header {
    color: #333;
    font-weight: bold;
    #logo {
        float : left;
        margin-left : 0px;
    }

}

#side-nav {
  display: none;
}

#side-nav.expanded + #content-wrapper,
#content-wrapper {
  border: none;
  margin-top: 10px;
}

#main-header {
  background: #FFF;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;

  #qp-embedded-container{
    border: 1px solid black;
  }

  .text-large{
      font-size: 150%;
      color: #585852;
  }
  .receipt {
    width: 100%;
    height: 600;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
    border-style: solid;
    border-width: thin;
    border-color: green;
  }
  .qp-pay-button {
    background:url(https://app-test.qualpay.com/hosted/checkout/images/pay_now.png) no-repeat top left;
    border: none;
    width: 65px;
  }
  .error{
    color: red;
  }
  #card-number,
  #exp-date,
  #cvv {
    position: relative;
    overflow: hidden;
    height: 40px;
  }
}
