.qp-popover-info + .popover {
  // Override popover colors
  border: 1px solid #31708f;
  background-color: #d9edf7;
  width: initial;
  font-size: 0.8em;

  .popover-content {
    padding: 3px 10px;
  }

  .arrow {
    border-width: 6px;
    right: -12px;
    margin-top: -6px;

    &:after {
      border-width: 6px;
    }
  }

  &.right > .arrow {
    border-right-color: #31708f;
    left: -12px;

    &:after {
      border-right-color: #d9edf7;
      bottom: -6px;
      left: -5px;
    }
  }

  &.left > .arrow {
    border-left-color: #31708f;

    &:after {
      border-left-color: #d9edf7;
      bottom: -6px;
      right: -5px;
    }
  }

  &.top > .arrow {
    border-top-color: #31708f;
    margin-left: -5px;
    bottom: -12px;

    &:after {
      border-top-color: #d9edf7;
      bottom: -5px;
      right: -6px;
    }
  }

  &.bottom > .arrow {
    border-bottom-color: #31708f;
    margin-left: -5px;
    margin-top: -2px;

    &:after {
      border-bottom-color: #d9edf7;
      top: -5px;
      right: -6px;
    }
  }
}
