.qp-popover-required + .popover {
  // Override popover colors
  border: 1px solid rgb(200, 114, 114);
  background-color: rgb(242, 222, 222);
  width: initial;
  font-size: 0.8em;

  .popover-content {
    padding: 3px 10px;
  }

  .arrow {
    border-width: 6px;
    right: -12px;
    margin-top: -6px;

    &:after {
      border-width: 6px;
    }
  }

  &.right > .arrow {
    border-right-color: #c87272;
    left: -12px;

    &:after {
      border-right-color: #f2dede;
      bottom: -6px;
      left: -5px;
    }
  }

  &.left > .arrow {
    border-left-color: #c87272;

    &:after {
      border-left-color: #f2dede;
      bottom: -6px;
      right: -5px;
    }
  }

  &.top > .arrow {
    border-top-color: #c87272;
    margin-left: -5px;
    bottom: -12px;

    &:after {
      border-top-color: #f2dede;
      bottom: -5px;
      right: -6px;
    }
  }

  &.bottom > .arrow {
    border-bottom-color: #c87272;
    margin-left: -5px;
    margin-top: -2px;

    &:after {
      border-bottom-color: #f2dede;
      top: -5px;
      right: -6px;
    }
  }
}
