<div class="content">
  <div>
    <a href="#/dashboard">Back to Dashboard</a>
  </div>
  <div>
    <div class="row text-large" align="center">Test - Checkout Page</div>
    <form id="demo-payment-form" class="qp-form">
      <div class="row">
        <div class="grid-sixth">&nbsp;</div>
        <div class="grid-two-thirds">
          <div class="qp-header corner-top" style="margin-top: 10px;">
            <div class="row">
              <div class="grid-full">Payment Information</div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="qp-box corner-bottom" style="margin-bottom: 10px;">
            <div class ="row">
              <div class="grid-fourth">
                <input type="text" name="amt_tran" ng-model="ctrl.payment.amtTran" placeholder="Amount"></input>
              </div>
              <div class="grid-fourth">
                <input type="text" name="tran_currency" ng-model="ctrl.payment.tranCurrency" placeholder="Currency"></input>
              </div>
              <div class="grid-half">
                <input type="text" name="profile_id" ng-model="ctrl.payment.profileId" placeholder="Profile ID"></input>
              </div>
            </div>
            <div class ="row">
              <div class="grid-half">
                <input type="text" name="customer_id" ng-model="ctrl.payment.customerId" placeholder="Customer Id"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid-sixth">&nbsp;</div>
        <div class="grid-two-thirds">
          <div class="qp-header corner-top" style="margin-top: 10px;">
            <div class="row">
              <div class="grid-full">Invoice Information</div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="qp-box corner-bottom" style="margin-bottom: 10px;">
            <div class ="row">
              <div class="grid-half">
                <input type="text" name="merch_ref_num" ng-model="ctrl.payment.merchantRefNum" placeholder="Merchant Reference Number"></input>
              </div>
              <div class="grid-half">
                <input type="text" name="purchase_id" ng-model="ctrl.payment.purchaseId" placeholder="Purchase ID"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid-sixth">&nbsp;</div>
        <div class="grid-two-thirds">
          <div class="qp-header corner-top" style="margin-top: 10px;">
            <div class="row">
              <div class="grid-full">Billing Information</div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="qp-box corner-bottom" style="margin-bottom: 10px;">
            <div class ="row">
              <div class="grid-half">
                <input type="text" name="customer_first_name" ng-model="ctrl.payment.billingFirstName" placeholder="First Name"></input>
              </div>
              <div class="grid-half">
                <input type="text" name="customer_last_name" ng-model="ctrl.payment.billingLastName" placeholder="Last Name"></input>
              </div>
            </div>
            <div class ="row">
              <div class="grid-half">
                <input type="text" name="customer_email_address" ng-model="ctrl.payment.customerEmail" placeholder="Email Address"></input>
              </div>
              <div class="grid-half">
                <input type="text" name="customer_phone_number" ng-model="ctrl.payment.customerPhone" placeholder="Phone Number"></input>
              </div>
            </div>
            <div class ="row">
              <div class="grid-full">
                <input type="text" name="billing_street_addr1" ng-model="ctrl.payment.billingAddr1" placeholder="Street Address"></input>
              </div>
            </div>
            <div class ="row">
              <div class="grid-third">
                <input type="text" name="billing_city" ng-model="ctrl.payment.billingCity" placeholder="City"></input>
              </div>
              <div class="grid-third">
                <input type="text" name="billing_street_addr1" ng-model="ctrl.payment.billingState" placeholder="State"></input>
              </div>
              <div class="grid-third">
                <input type="text" name="billing_city" ng-model="ctrl.payment.billingZip" placeholder="Zip"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="ctrl.payment.link">
        <div class="grid-full" align="center">
          Your link is <a ng-href="{{ctrl.payment.link}}">{{ctrl.payment.link}}</a>
        </div>
      </div>
      <div class="row" ng-if="ctrl.payment.error">
        <div class="grid-full error" align="center">
          {{ctrl.payment.error}}
        </div>
      </div>
      <div class="row">
        <div class="grid-full" align="middle">
          <qp-button label="'Generate Link'" on-click="ctrl.submitForm();" disabled="ctrl.loading"/>
        </div>
      </div>
    </form>
  </div>
 </div>
</div>
