<div class="content">
  <div>
    <a href="#/dashboard">Back to Dashboard</a>
  </div>
  <div>
    <div class="row text-large" align="center">Test - Embedded Fields</div>
    <div class="row" >&nbsp;</div>
    <form id="demo-payment-form" class="qp-form" action="/">
      <div class="row">
        <div class="grid-sixth">&nbsp;</div>
        <div class="grid-two-thirds">
          <div class="qp-box corner-all" style="margin-top: 10px;">
            <div class="row"><div class="grid-full">&nbsp;</div></div>
              <div class="row" ng-if="ctrl.payment.error">
                <div align="center" class="grid-full error" ng-bind-html="ctrl.payment.error"></div>
              </div>
              <div class="row" ng-if="ctrl.payment.cardId">
                <div align="center" class="row">Card ID is - {{ctrl.payment.cardId}}</div>
                <div align="center" class="row">Card Number is - {{ctrl.payment.cardNumber}}</div>
              </div>
              <div class="row">
                <div class="grid-full">
                  <div id="qp-embedded-container" align="center"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          &nbsp;
        </div>
        <div class="row">
          <div class="grid-full" align="center">
            <input type="submit" class="qp-pay-button" value=""/>
          </div>
        </div>
      </form>
    </div>
    <div ng-if="ctrl.payment.show_receipt">
      <div class="row">
        <div class="grid-fourth">&nbsp;</div>
        <div class="grid-half">
          <demo-receipt tran="ctrl.payment"></demo-receipt>
        </div>
      </div>
    </div>
</div>
