/*
 * Qualpay form styling.
 */
.qp-form {
  box-sizing: border-box;

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="file"],
  textarea,
  select {
    color: #555;
    height: 34px;
    width: 100%;
    padding: 0px 16px 0px 10px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  // Custom checkboxes using font awesome
  // input[type=checkbox] {
  //   position: relative;
  // }
  // /* to hide the checkbox itself */
  // label>input[type=checkbox]:before {
  //   position: absolute;
  //   background-color: #FFFFFF;
  //   height: 100%;
  //   width: 100%;
  //   font-family: FontAwesome;
  //   display: inline-block;
  //   content:"\f096";
  //   letter-spacing: 10px;
  // }
  // /* space between checkbox and label */
  // label>input[type=checkbox]:checked:before {
  //   font-family: FontAwesome;
  //   display: inline-block;
  //   content:"\f046";
  //   letter-spacing: 5px;
  // }

  textarea {
    height:100px;
    padding-top: 10px;
  }

  select::-ms-expand {
    display: none;
  }

  select {
    background: url('/shared/images/down-arrow.png') no-repeat right, -ms-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('/shared/images/down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('/shared/images/down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:100%;
    height:34px;
    cursor: pointer;
  }

  input[type="text"][disabled],
  input[type="email"][disabled],
  input[type="url"][disabled],
  input[type="radio"][disabled],
  input[type="radio"].disabled,
  input[type="checkbox"].disabled,
  input[type="password"][disabled],
  input[type="number"][disabled],
  input[type="file"][disabled],
  select[disabled],
  textarea[disabled],
  fieldset[disabled] input[type="radio"],
  fieldset[disabled] input[type="checkbox"] {
    color: #999;
    cursor: not-allowed;
    background: #FFF;
  }
}


/*
 * qp-form error coloring will only apply if inputs are nested in a qp-form-colors class.
 */
.qp-form-colors {
  input[type="text"].ng-invalid.ng-dirty,
  input[type="email"].ng-invalid.ng-dirty,
  input[type="number"].ng-invalid.ng-dirty,
  input[type="url"].ng-invalid.ng-dirty,
  input[type="password"].ng-invalid.ng-dirty,
  input[type="file"].ng-invalid.ng-dirty,
  textarea.ng-invalid.ng-dirty,
  select.ng-invalid.ng-dirty {
    border: 1px solid #C87272;
    background: url('../../shared/images/warn.png') no-repeat right;
    box-shadow: 0 0 3px #C87272;
  }
}
