<div class="content">
  <div ng-show="ctrl.loading"><qp-loading></qp-loading></div>
  <div ng-show="!ctrl.loading">
    <div class="row">
      <div class="grid-half">
        <a href="#/checkout_page">Checkout Page</a>
      </div>
    </div>
    <div class="row">
      <div class="grid-half">
        <a href="#/embedded_fields">Embedded  Fields</a>
      </div>
    </div>
    <div class="row">
      <div class="grid-half">
        <a href="#/embedded_fields_alacarte">Embedded Fields A La Carte</a>
      </div>
    </div>
  </div>
</div>
