<div class="content">
  <div>
    <a href='#/dashboard'>Back to Dashboard</a>
    </div>
  <div>
    <div class="row text-large" align="center">Demo - Checkout Preferences</div>
    <div class="row" >&nbsp;</div>
    <ng-form class="qp-form">
      <div class="row">
        <div class ="row">
          <div class="grid-fourth">
            Merchant ID:
          </div>
          <div class="grid-fourth">
            <input type="text" readonly ng-model="ctrl.mid" placeholder="Merchant ID"></input>
          </div>
        </div>
        <div class ="row">
          <div class="grid-fourth">
            Expire in Secs:
          </div>
          <div class="grid-fourth">
            <input type="text" name="expireInSecs" ng-model="ctrl.preferences.expireInSecs" placeholder="Expire In seconds"></input>
          </div>
        </div>
        <div class ="row">
          <div class="grid-fourth">
            Email receipt to your customer
          </div>
          <div class="grid-fourth">
            <input type="checkbox" name="emailReceipt" ng-model="ctrl.preferences.emailReceipt"></input>
          </div>
        </div>
        <div class ="row">
          <div class="grid-fourth">
            Success URL:
          </div>
          <div class="grid-half">
            <input type="text" name="successUrl" ng-model="ctrl.preferences.successUrl" placeholder="Success URL"></input>
          </div>
        </div>
        <div class ="row" >
          <div class="grid-fourth">
            Failure URL:
          </div>
          <div class="grid-half">
            <input type="text" name="failureUrl" ng-model="ctrl.preferences.failureUrl" placeholder="Failure URL"></input>
          </div>
        </div>
        <div class ="row">
          <div class="grid-fourth">
            Notification URL:
          </div>
          <div class="grid-half">
            <input type="text" name="notificationUrl" ng-model="ctrl.preferences.notificatino_url" placeholder="Notification URL"></input>
          </div>
        </div>
        <div class ="row">
          <div class="grid-fourth">
            Transaction Amount Editable
          </div>
          <div class="grid-fourth">
            <input type="checkbox" name="allowPartialPayments" ng-model="ctrl.preferences.allowPartialPayments" ></input>
          </div>
        </div>
        <!--<div class ="row">
          <div class="grid-fourth">
            Allow Save Card?
          </div>
          <div class="grid-fourth">
            <input type="checkbox" name="allowSaveCard" ng-model="ctrl.preferences.allowSaveCard" ></input>
          </div>
        </div>-->
        <div class ="row">
          <div class="grid-fourth">
            Default Request Type:
          </div>
          <div class="grid-fourth">
            <select name="requestType" ng-model="ctrl.preferences.requestType">
              <option value="auth">Authorization</option>
              <option value="sale">Sale</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="grid-full" align="center">
            <input type="button" class="qp-button" value ="Save" ng-click="ctrl.submitForm();"></qp-button>
            <input type="button" class="qp-button" value ="Reset" ng-click="ctrl.resetForm();"></qp-button>
          </div>
        </div>
      </div>
    </ng-form>
  </div>
