<span class="qp-button">
  <button
    type="button"
    class="btn {{styleColor}} {{styleSize}}"
    ng-style="{'width': width}"
    ng-click="click()"
    ng-disabled="disabled || loading"
    ng-bind-html="loading ? '<i class=\'fa fa-lg fa-circle-o-notch fa-spin\'></i>' : label"
  </button>
</span>
