<div class="corner-all ui-error" style="padding: 6px;">
  <span class="fa fa-warning"></span>&nbsp;<span style="font-weight: bold;">{{ title }}</span>
  <p ng-class="{'inline': !title}" ng-bind-html="message"></p>
  <div ng-show="error">
    <div class="small">Additional Information <small ng-show="!showDetail" class="fa fa-plus" ng-click="showDetail = true"></small><small ng-show="showDetail" class="fa fa-minus" ng-click="showDetail = false"></small></div>
    <div ng-show="showDetail" class="small" ng-bind-html="error"></div>
  </div>
</div>
