/**
 * Mobile screen resizing
 * @link http://dev.w3.org/csswg/css-device-adapt/
 */
@viewport {
  width: device-width;
  zoom: 1.0;
}

table {
  width: 100% !important;
  text-align: left;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  border: 0;
}

/**
 * Add box sizing to everything
 * @link http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/**
 * Set display type for HTML5 semantic elements
 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/**
 * Force scrollbar display to prevent jumping on pages.
 * Fix text resize bug on mobile devices.
 */
html {
  overflow-y: auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/**
 * Prevent img and video elements from spilling outside of the page on smaller screens.
 */
img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Prevent iframe, object, and embed elements from spilling outside of the page on smaller screens.
 */
iframe,
object,
embed {
  max-width: 100%;
}

/**
 * Hide the template element in IE, Safari, and Firefox < 22.
 */
template {
  display: none;
  visibility: hidden;
}

/**
 * Prevents IE from making scaled images look like crap
 */
img {
  -ms-interpolation-mode: bicubic;
}

/**
 * Address outline inconsistency between Chrome and other browsers.
 */
a:focus,
button:focus {
  outline: thin dotted;
  outline: 0.3125em auto -webkit-focus-ring-color;
  outline-offset: -0.15625em;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:hover,
a:active {
  outline: 0;
}
