#hosted {
  background: url(/hosted/images/banner/login-1.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  overflow-y: auto;

  .content {
    margin: 50px 20px 10px 20px;
    padding: 20px 40px;
    background-color: rgba(94,94,94,0.8);
    border: 1px solid #777;
    color: #DDD;

    .ui-error,
    .ui-info {
      color: #333;
    }
  }

  .hosted-box {
    max-width: 500px;
  }

  &.login {
    .forgot {
      margin: 0 20px;
      padding: 0 40px;
      text-align: center;

      a {
        color: #DDD;
        text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 2px;
      }
    }
  }




}
