<div>
    <div align="center" class="text-large">
      Thanks for your payment!
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="grid-full receipt">
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="grid-fourth"><b>Invoice #:</b></div>
          <div class="grid-three-fourths">{{ctrl.tran.purchaseId}}</div>
        </div>
        <div class="row">
          <div class="grid-fourth"><b>Card Number:</b></div>
          <div class="grid-three-fourths">{{ctrl.tran.cardNumber}}</div>
        </div>
        <div class="row">
          <div class="grid-fourth"><b>Amount:</b></div>
          <div class="grid-three-fourths">{{ctrl.tran.amtTran | currency}}</div>
        </div>
        <div ng-if="ctrl.tran.cardId" class="row">
          <div class="grid-fourth"><b>Card ID:</b></div>
          <div class="grid-three-fourths">{{ctrl.tran.cardId}}</div>
        </div>
        <div class="row">
          <div class="grid-fourth"><b>Reference Number:</b></div>
          <div class="grid-three-fourths">{{ctrl.tran.pgId}}</div>
        </div>
        <div class="row">&nbsp;</div>
      </div>
    </div>
</div>
