<div class="content">
  <div>
    <a href="#/dashboard">Back to Dashboard</a>
  </div>
  <div>
    <div class="row text-large" align="center"> Process Payment</div>
    <div class="row text-large" align="center">Demo - {{ctrl.checkoutType === 'page'?'Checkout Page' : 'Embedded Fields' }}</div>
    <div class="row">&nbsp;</div>
    <table class="qp-table" ng-show="ctrl.lineItems.length > 0">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Option</th>
          <th scope="col">Count</th>
          <th scope="col">Cost</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in ctrl.lineItems" ng-class="{'row-odd' : $index % 2 == 0}">
          <td data-title="Product">
            <img height="60" width="60" ng-src="{{item.image}}" alt={{ item.product }}></img>&nbsp;{{ item.product }}&nbsp;</td>
          <td data-title="Count">{{ item.option }}&nbsp;</td>
          <td data-title="Count">{{ item.quantity }}&nbsp;</td>
          <td data-title="Cost"> {{ item.cost | currency }}&nbsp;</td>
          <td data-title="Total"> {{ (item.quantity * item.cost) | currency }}</span>
          </td>
        </tr>
        <tr>
          <td data-title="Total">Total</td>
          <td data-title="">&nbsp;</td>
          <td data-title="">&nbsp;</td>
          <td data-title="">&nbsp;</td>
          <td data-title="Total Cost"> {{ ctrl.total | currency }}</span>
          </td>
        </tr>
      </tbody>
    </table>
    {{$ctrl.show_billing}}
    {{$ctrl.payment.show_receipt}}
    <form id="demo-payment-form" ng-show="!ctrl.payment.show_receipt" class="qp-form" action="/">
      <div class="row">
        <div class="grid-sixth">&nbsp;</div>
        <div class="grid-two-thirds">
          <div class="qp-header corner-top" style="margin-top: 10px;">
            <div class="row">
              <div class="grid-full">Billing Information</div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="qp-box corner-bottom" style="margin-bottom: 10px;">
            <div class="row">
              <div class="grid-half">
                <input type="text" name="customer_id" ng-model="ctrl.payment.customerId" placeholder="Customer ID"></input>
              </div>
            </div>
            <div class="row">
              <div class="grid-half">
                <input type="text" name="customer_first_name" ng-model="ctrl.payment.billingFirstName" placeholder="First Name"></input>
              </div>
              <div class="grid-half">
                <input type="text" name="customer_last_name" ng-model="ctrl.payment.billingLastName" placeholder="Last Name"></input>
              </div>
            </div>
            <div class="row">
              <div class="grid-full">
                <input type="text" name="billing_street_addr1" ng-model="ctrl.payment.billingAddr1" placeholder="Street Address"></input>
              </div>
            </div>
            <div class="row">
              <div class="grid-third">
                <input type="text" name="billing_city" ng-model="ctrl.payment.billingCity" placeholder="City"></input>
              </div>
              <div class="grid-third">
                <select ng-model="ctrl.payment.billingState" ng-options="state.value as state.label for state in ctrl.usStates">
                </select>
              </div>
              <div class="grid-third">
                <input type="text" name="billing_zip" ng-model="ctrl.payment.billingZip" placeholder="Zip"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid-sixth">&nbsp;</div>
        <div class="grid-two-thirds">
          &nbsp;&nbsp;
          <input type="checkbox" name="shipping_address_different" ng-model="ctrl.is_different_address" ng-click="ctrl.show_shipping = !ctrl.show_shipping"
          /> Shipping Address is different from Billing
        </div>
      </div>
      <div class="row" ng-show="ctrl.show_shipping">
        <div class="grid-sixth">&nbsp;</div>
        <div class="grid-two-thirds">
          <div class="qp-header corner-top" style="margin-top: 10px;">
            <div class="row">
              <div class="grid-full">Shipping Information</div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="qp-box corner-bottom" style="margin-bottom: 10px;">
            <div class="row">
              <div class="grid-half">
                <input type="text" name="shipping_first_name" ng-model="ctrl.shipping.customer_first_name" placeholder="First Name"></input>
              </div>
              <div class="grid-half">
                <input type="text" name="shipping_last_name" ng-model="ctrl.shipping.customer_last_name" placeholder="Last Name"></input>
              </div>
            </div>
            <div class="row">
              <div class="grid-full">
                <input type="text" name="shipping_street_addr1" ng-model="ctrl.shipping.shipping_addr1" placeholder="Street Address"></input>
              </div>
            </div>
            <div class="row">
              <div class="grid-third">
                <input type="text" name="shipping_city" ng-model="ctrl.shipping.shipping_city" placeholder="City"></input>
              </div>
              <div class="grid-third">
                <select ng-model="ctrl.payment.shipping_state" ng-options="state.value as state.label for state in ctrl.usStates">
                </select>
              </div>
              <div class="grid-third">
                <input type="text" name="shipping_zip" ng-model="ctrl.shipping.shipping_zip" placeholder="Zip"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid-sixth">&nbsp;</div>
        <div class="grid-two-thirds">
          <div class="qp-box corner-all" style="margin-top: 10px;">
            <div class="row">
              <div class="grid-full">&nbsp;</div>
            </div>
            <div class="row">
              <div class="grid-fourth">&nbsp;</div>
              <div class="grid-half" align="center">
                <span class="text-large">{{ctrl.amt_tran | currency}}</span> &nbsp;&nbsp;
                <a href="" ng-click="ctrl.show_details=!ctrl.show_details">{{ ctrl.show_details ? 'Hide Details' : 'Show details' }}</a>
              </div>
            </div>
            <div class="row" ng-show="ctrl.show_details">
              <div class="grid-third">&nbsp;</div>
              <div class="qp-box corner-all grid-third">
                <div class="row x-small">
                  <div class="grid-half">total: </div>
                  <div align="right" class="grid-half">{{ ctrl.total | currency}}</div>
                </div>
                <div class="row x-small">
                  <div class="grid-half">tax: </div>
                  <div align="right" class="grid-half"> {{ (ctrl.total * ctrl.amt_tax) | currency}} </div>
                </div>
                <div class="row x-small">
                  <div class="grid-half">shipping: </div>
                  <div align="right" class="grid-half"> {{ ctrl.shipping_cost | currency}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="grid-full">&nbsp;</div>
            </div>
            <div class="row">
              <div class="grid-fourth">&nbsp;</div>
              <div class="grid-half">
                We accept
                <i ng-style=ctrl.cardTypes.VS.logo_style ng-class=ctrl.cardTypes.VS.logo_class></i>
                <i ng-style=ctrl.cardTypes.MC.logo_style ng-class=ctrl.cardTypes.MC.logo_class></i>
                <i ng-style=ctrl.cardTypes.DS.logo_style ng-class=ctrl.cardTypes.DS.logo_class></i>
              </div>
            </div>
            <div class="row" ng-if="ctrl.payment.error">
              <div align="center" class="grid-full error" ng-bind-html="ctrl.payment.error"></div>
            </div>
            <div class="row" ng-if="ctrl.checkoutType === 'embedded'">
              <div class="grid-full">
                <div id="qp-embedded-container" align="center"></div>
              </div>
            </div>
            <div class="row" ng-if="ctrl.checkoutType === 'embeddedSingle'">
              <div class="grid-half">
                <div id="card-number" align="center"></div>
              </div>
              <div class="grid-fourth">
                <div id="exp-date" align="center"></div>
              </div>
              <div class="grid-fourth">
                <div id="cvv" align="center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        <div ng-if="ctrl.checkoutType === 'embedded' || ctrl.checkoutType === 'embeddedSingle'" class="grid-full" align="center">
          <input type="submit" class="qp-pay-button" value="" />
        </div>
        <div ng-if="ctrl.checkoutType === 'page'" class="grid-full" align="center">
          <input type="button" class="qp-pay-button" value="" ng-click="ctrl.submitForm();" />
        </div>
      </div>
    </form>
  </div>
  <div ng-if="ctrl.payment.show_receipt">
    <div class="row">
      <div class="grid-fourth">&nbsp;</div>
      <div class="grid-half">
        <demo-receipt tran="ctrl.payment"></demo-receipt>
      </div>
    </div>
  </div>
</div>
</div>